/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body{
  background-image: url(/images/stardust.png);
  font-family: Roboto;
  color: white;
  font-size: 20px;
}

img{
  width: 100%;
}
    
.title{
  font-family: 'Amatic SC';
  font-size: 44px;
  font-weight: bold;
}
    
input[type=text]{
  color: black;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.btn{
  font-size: 18px;
  min-width: 150px;
  padding: 10px;
}

.no-margin-top{
    margin-top: 0;
}

#not-found p{
  font-size: 44px;
}
