@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,700);

body{
  font-family: Lato;
  color: black;
  font-size: 16px;
  text-align: center;
  background-color: ivory;
  margin-bottom: 20px;
}

.page-header{
  background-image: url(../images/stardust.png);
  padding: 40px 0 40px;      
}

.page-header .btn{
  margin-right: 20px;
}

.page-header .title{
  font-family: 'Jolly Lodger', serif;
  font-size: 90px;
  color: floralwhite;
  text-shadow: 3px 3px 10px crimson;
  margin-bottom: 0;
}

.page-header .subtitle{
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: ivory;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 32px;
  margin-bottom: 60px;
}

.page-header .subtitle img{
  width: 140px;
}

.container{
  text-align: justify;
}

section .header{
  margin-top: 30px;
  color: crimson;
  font-family: Raleway;
  font-weight: 700;
}

a{
  color: crimson;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.snippets{  
  font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.snippets.block{
  display: block;
  padding: 12px;
  line-height: 1.45;
  margin-top: .5rem;
  background-color: gainsboro;
  border-radius: 3px;
}

footer{
  font-size: 12px;
  padding-top: 20px;  
}

@media (max-width: 720px) {
  .page-header{
    padding-top: 20px;
  }
  
  .page-header .btn{
    margin: 10px auto;
    display: block;
    width: 200px;
  }
  
  .page-header .title{
    font-size: 70px;
  }  
}

@media (max-width: 840px) {
  .page-header .subtitle{
    font-size: 24px;
    display: block;
    text-align: center;
  }
  
  .page-header .subtitle label{
    display: block;
  }
  
  .page-header .subtitle img{
    display: block;
    margin: 0 auto;
  }
}