.title{
  font-family: 'Amatic SC';
  font-size: 44px;
  font-weight: bold;
  margin-top: 10px;
}

.character{
  padding: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
  
  &.selected{
    border-radius: 5px;
    background-color: ghostwhite;
    color: black;
  }
    
  &.is-dead{
    text-decoration: line-through;    
    color: crimson;
  }
  
  &.not-clickable{
    cursor: default;
  }

  .card, .player-name{
    font-size: 22px; 
  }
}

.game-over{
  color: crimson;
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 30px;
  }
}

#not-found p{
  font-size: 44px;
}

.no-margin-top{
    margin-top: 0;
}

.crimson{
  color: crimson;
}
