@media (max-width: 600px) {
  #join-game{
    input{
      width: 100%;
    }  
  }
  .special-char {
    margin: 4px 0;
    .card{
      padding-left: 0;
    }
  }
}

@media (min-width: 768px) {
  body{
    font-size: 24px;    
    .title{
     font-size: 60px;
    }
  }
  .special-char {               
    .card, .player-name{
      font-size: 28px; 
    }
  }
  #not-found{
    p{
      font-size: 60px;
    }
  }
}
